<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zhoushiya.shop.api.dao.UserThirdMapper" >
  <resultMap id="BaseResultMap" type="com.zhoushiya.shop.api.entity.UserThird" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="third_party_id" property="thirdPartyId" jdbcType="INTEGER" />
    <result column="mark" property="mark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, third_party_id, mark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_third
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_third
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.zhoushiya.shop.api.entity.UserThird" >
    insert into user_third (id, user_id, third_party_id, 
      mark)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{thirdPartyId,jdbcType=INTEGER}, 
      #{mark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zhoushiya.shop.api.entity.UserThird" >
    insert into user_third
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="thirdPartyId != null" >
        third_party_id,
      </if>
      <if test="mark != null" >
        mark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="thirdPartyId != null" >
        #{thirdPartyId,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        #{mark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zhoushiya.shop.api.entity.UserThird" >
    update user_third
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="thirdPartyId != null" >
        third_party_id = #{thirdPartyId,jdbcType=INTEGER},
      </if>
      <if test="mark != null" >
        mark = #{mark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zhoushiya.shop.api.entity.UserThird" >
    update user_third
    set user_id = #{userId,jdbcType=INTEGER},
      third_party_id = #{thirdPartyId,jdbcType=INTEGER},
      mark = #{mark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>